/* Reset and base styles  */
@import url("http://fonts.cdnfonts.com/css/post-no-bills-jaffna");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  font-size: 16px;
  color: #FFFFFF;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
  font-family: 'Raleway';
  color: #FFFFFF;
}

/* Grid styles */
.container {
  max-width: 1140px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* Tablet */
  /* Mobile */
  /* Mobile XS */
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    width: 320px;
  }
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.bg {
  background-color: #242B33;
}

.logo__title {
  font-family: 'Post No Bills Jaffna SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
}

.logo p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 1.3px;
}

.main__nav {
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 40px;
          column-gap: 40px;
}

.main__nav-item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-decoration: none;
}
.main__nav-item:hover {
  -webkit-animation: updown 0.3s;
          animation: updown 0.3s;
  color: #D4C17F;
}

@-webkit-keyframes updown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes updown {
  0% {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
.title-1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3;
  text-align: center;
  color: #D4C17F;
}

.title-2 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  color: #D4C17F;
}

.title-4 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
}

.card {
  max-width: 193px;
  text-align: center;
}

.card__img {
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.card__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.35;
}

.card-appartments {
  position: relative;
  width: 535px;
  height: 320px;
}
.card-appartments:hover {
  opacity: 0.8;
}
.card-appartments:hover .card-appartments__title span {
  opacity: 1;
}

.card-1 {
  background-image: url(./../../img/appartments/loft-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-2 {
  background-image: url(./../../img/appartments/loft-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-3 {
  background-image: url(./../../img/appartments/loft-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-4 {
  background-image: url(./../../img/appartments/loft-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card-appartments__title {
  padding-top: 248px;
  padding-left: 50px;
}

.card-appartments__title span {
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  min-width: 150px;
  padding-left: 40px;
  padding-right: 40px;
  height: 51px;
  background: #D4C17F;
  border-radius: 80px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 18px;
  line-height: 51px;
  letter-spacing: 2px;
  color: #FFFFFF;
  opacity: 0;
  transition: 0.5s ease-in;
}

.form {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 35px;
  max-width: 540px;
}

.form__item {
  min-width: 255px;
  height: 50px;
  background: #FFFFFF;
  opacity: 0.2;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  color: #BEBEBE;
  text-align: center;
}
.form__item:focus {
  opacity: 0.8;
}

.form__text {
  max-width: 255px;
  text-align: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  color: #E7E7E7;
}

.button {
  display: inline-block;
  min-width: 255px;
  height: 50px;
  padding-left: 53px;
  padding-right: 53px;
  background: #D4C17F;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
}

.slider-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  max-width: 900px;
  height: 600px;
}

.slider-wrapper img {
  width: 900px;
  height: 600px;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
  color: #a50890;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #2241f0;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #2ad499;
  color: #a50890;
  text-decoration: none;
}
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #2241f0;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #2ad499;
}

/*
 * 	Red theme - Owl Carousel CSS File
 */
.owl-theme-red .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-nav [class*='owl-'] {
  color: #e067d0;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #bb3468;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.owl-theme-red .owl-nav [class*='owl-']:hover {
  background: #f03d3d;
  color: #e067d0;
  text-decoration: none;
}
.owl-theme-red .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme-red .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
.owl-theme-red .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme-red .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme-red .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #bb3468;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.owl-theme-red .owl-dots .owl-dot.active span, .owl-theme-red .owl-dots .owl-dot:hover span {
  background: #f03d3d;
}

.header {
  background-color: #000000;
  background-image: url(./../../img/header/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__top {
  margin-bottom: 200px;
  padding-top: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.header__content {
  margin-bottom: 200px;
  text-align: center;
}

.header__title {
  margin-bottom: 100px;
}

.header__contacts {
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.header__contacts-list {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.header__contacts-item {
  padding-left: 36px;
  position: relative;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
}

.item-adress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url(./../../img/header/placeholder.svg);
}

.item-phone::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  background-image: url(./../../img/header/phone.svg);
}

.section-description {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #242B33;
}

.section-description__row {
  margin-left: auto;
  margin-right: auto;
  width: 795px;
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 70px;
          column-gap: 70px;
}

.section-description__img {
  position: absolute;
  top: 80px;
  right: 258px;
}

.section-appartments {
  position: relative;
  background-color: #242B33;
}

.section-appartments__title {
  margin-bottom: 100px;
}

.section-appartments__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.section-appartments__img {
  position: absolute;
  top: 100px;
  left: 180px;
}

.section-cta {
  background-image: url(./../../img/bg-form.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-cta__title {
  padding-top: 180px;
  margin-bottom: 30px;
}

.section-cta__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-bottom: 180px;
}

.section-cta__text {
  max-width: 535px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #FFFFFF;
}

.section-video {
  position: relative;
  background-color: #242B33;
  padding-bottom: 180px;
}

.section-video__frame {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 719px;
  height: 650px;
  background: linear-gradient(0deg, rgba(36, 43, 51, 0.8), rgba(36, 43, 51, 0.8)), #626262;
  background-image: url(./../../img/bg-video.jpg);
}

.section-video__img {
  position: absolute;
  top: 150px;
  right: 160px;
}

.section-video__button {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.section-map {
  position: relative;
  background-color: #242B33;
  padding-bottom: 180px;
}

.section-map__title {
  margin-bottom: 100px;
}

.section-map__map {
  width: 1110px;
  height: 358px;
}

.section-map__img {
  position: absolute;
  top: 100px;
  left: 250px;
}

.section-cta-2 {
  background-color: #242B33;
  padding-bottom: 180px;
}

.section-cta-2__title {
  margin-bottom: 50px;
}

.section-cta-2 .form {
  flex-wrap: nowrap;
  -webkit-box-align: center;
          align-items: center;
}

.section-cta-2 .form__text {
  min-width: 255px;
}

/* Sticky Footer */
.footer {
  margin-top: auto;
  /* sticky footer */
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2D343C;
}

.footer__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.footer .main__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.footer .main__nav-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer__info p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__info a {
  color: #D4C17F;
}

.footer__info p + p {
  margin-top: 15px;
}

.footer__icons {
  margin-top: 20px;
}

.footer__icons a:not(:last-child) {
  margin-right: 20px;
}

.footer__icons svg {
  fill: #FFFFFF;
}
.footer__icons svg:hover {
  fill: #D4C17F;
}

.inner-page__title {
  padding-top: 60px;
  margin-bottom: 50px;
}

.loft h2 {
  margin-bottom: 50px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */