// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;
@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');

html {
    min-height: 100vh; /* sticky footer */
	scroll-behavior: smooth;
}

body {
	min-height: 100vh; /* sticky footer */
	display: flex; /* sticky footer */
	flex-direction: column; /* sticky footer */

    font-size: 16px;
    color: #FFFFFF;

    text-rendering: optimizeSpeed;
    //text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body > * {
	flex-shrink: 0; /* sticky footer */
    font-family: 'Raleway';
    color: #FFFFFF;
}

/* Grid styles */

.container {
	max-width: 1140px;
    width: 100%;
	margin-left: auto;
    margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

    &--fluid {
        max-width: unset;
    }

    &--no-padding {
        padding: 0;
    }

    /* Tablet big*/
    @media (max-width: 1139px) {
        width: 900px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        width: 768px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        width: 320px;
    }
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -10000px;
    background: transparent;
    font-size: 0;
}

.bg {
    background-color: $bg-color;
}

.fade-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #242B33;
    z-index: 9;
}

.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}
