.card {
    max-width: 193px;
    text-align: center;
}

.card__img {
    margin-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
}

.card__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.35;
}