.card-appartments {
    width: 535px;
    height: 320px;
}

.card-1 {
    background-image: url(./../../img/appartments/loft-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.card-2 {
    background-image: url(./../../img/appartments/loft-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-3 {
    background-image: url(./../../img/appartments/loft-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-4 {
    background-image: url(./../../img/appartments/loft-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.card-appartments__title {
    padding-top: 248px;
    padding-left: 50px;
}