.form {
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 35px;
    max-width: 540px;

    /* Tablet big*/
    @media (max-width: 1139px) {
        max-width: 350px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        justify-content: flex-end;
        column-gap: 0px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        justify-content: center;
    }
}

.form__item {
    min-width: 255px;
    height: 50px;
    background: #FFFFFF;
    opacity: 0.2;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    color: #BEBEBE;
    text-align: center;

    &:focus {
        opacity: 0.8;
    }
}

.form__text {
    max-width: 255px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    color: #E7E7E7;
}
