.logo__title {
    font-family: 'Post No Bills Jaffna SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.5;

    /* Tablet big*/
    @media (max-width: 1139px) {
        font-size: 32px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        font-size: 28px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.logo p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 1.3px;
}
