.main__nav {
    display: flex;
    column-gap: 40px;

    /* Tablet */
    @media (max-width: 899px) {
        z-index: 5;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #2D2D2D;
        opacity: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;

        // transition: top 0s linear, opacity .2s ease-in;
        transition: opacity .2s ease-in, top 0s linear 0.2s,;
    }
}

.main__nav.nav--active {
    top: 0;
    opacity: 0.9;
    transition: top 0s linear, opacity .2s ease-in;
}

.main__nav-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-decoration: none;

    &:hover {
        animation: updown 0.3s;
        color: $accent-color;
    }

    /* Tablet big*/
    @media (max-width: 1139px) {
        font-size: 12px;
    }

    /* Tablet */
    @media (max-width: 899px) {
        margin-top: 35px;
        font-size: 22px;
    }
}

@keyframes updown {
    0% {transform: translateY(-20%);}
    50% {transform: translateY(0);}
    100% {transform: translateY(50%);}
}

