.main__nav {
    display: flex;
    column-gap: 40px;
}

.main__nav-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-decoration: none;

    &:hover {
        animation: updown 0.3s;
        color: $accent-color;
    }
}

@keyframes updown {
    0% {transform: translateY(-20%);}
    50% {transform: translateY(0);}
    100% {transform: translateY(50%);}
}

