.main__nav {
    display: flex;
    column-gap: 40px;
}

.main__nav-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    text-decoration: none;
}

