.slider-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    max-width: 900px;
    height: 600px;
    // background-color: #e73c3c;
}

.slider-wrapper img {
    width: 900px;
    height: 600px;
}