.header {
    background-color: #000000;
    background-image: url(./../../img/header/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    /* Mobile */
    @media (max-width: 767px) {
        height: 80vh;
    }
}

.header .container {
    /* Mobile */
    @media (max-width: 767px) {
        width: 100%;
    }
}

.header__top {
    margin-bottom: 200px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    margin-bottom: 200px;
    text-align: center;

    /* Tablet */
    @media (max-width: 899px) {
        margin-bottom: 120px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-bottom: 100px;
    }
}

.header__title {
    margin-bottom: 100px;

    /* Tablet */
    @media (max-width: 899px) {
        margin-bottom: 80px;
    }

    /* Mobile */
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
}

.header__contacts {
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
}

.header__contacts-list {
    display: flex;
    justify-content: space-between;

    /* Mobile */
    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

.header__contacts-item {
    display: flex;
    column-gap: 10px;
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;

    /* Tablet */
    @media (max-width: 899px) {
        font-size: 14px;
    }

    svg {
        width: 21px;
        height: 21px;

        /* Tablet */
        @media (max-width: 899px) {
            width: 15px;
            height: 15px;
        }
    }
}
