.section-map {
    position: relative;
    background-color: $bg-color;
    padding-bottom: 180px;
}

.section-map__title {
    margin-bottom: 100px;
}

.section-map__map {
    width: 1110px;
    height: 358px;
}

.section-map__img {
    position: absolute;
    top: 100px;
    left: 250px;
}